.bubbly-button {
	 font-family: 'Helvetica', 'Arial', sans-serif;
	 display: inline-block;
	 font-size: 1em;
	 -webkit-appearance: none;
	 appearance: none;
	 background-color: #29abe2;
	 color: #fff;
	 border-radius: 4px;
	 border: none;
	 cursor: pointer;
	 position: relative;
	 transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
	 box-shadow: 0 2px 25px rgba(41, 171, 226, 0.5);
   animation-duration: 0.8s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.bubbly-button:hover {
  animation: none;
  width: 100%;
}
 .bubbly-button:focus {
	 outline: 0;
}
 .bubbly-button:before, .bubbly-button:after {
	 position: absolute;
	 content: '';
	 display: block;
	 width: 140%;
	 height: 100%;
	 left: -20%;
	 z-index: -1000;
	 transition: all ease-in-out 0.5s;
	 background-repeat: no-repeat;
}

 .bubbly-button:active {
	 transform: scale(0.9);
	 background-color: #e60074;
	 box-shadow: 0 2px 25px rgba(41, 171, 226, 0.2);
}
 .bubbly-button.animate:before {
	 display: block;
	 animation: topBubbles ease-in-out 0.75s forwards;
}
 .bubbly-button.animate:after {
	 display: block;
	 animation: bottomBubbles ease-in-out 0.75s forwards;
}
@keyframes changewidth {
  from {
    width: 100%;
  }

  to {
    width: 60%;
  }
}
