.create-header {
    padding: 16px;
    font-size: 14px;
    line-height: 20px;
    padding-left: 30px;
    padding-top: 0;
}

.widgets-group {
    margin-top: 10px;
}

.widgets-body {
    margin: 30px 30px;
}

.widget-type {
    width: 300px;
    height: 300px;
    margin-right: 30px;
    margin-top: 20px;
    display: inline-block;
    padding: 20px;
    vertical-align: middle;
    box-shadow: #dddddd 0px 2px 2px 1px;
    text-align: center;
}

.widget-type:nth-child(1) {
    margin-left: 0;
}

.create-widget-btn {
    margin-top: 30px;
    float: right;
}

.create-card {
    padding: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.header-description {
    width: 350px;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 5px;
    line-height: 20px;
}

.widget-img {
    width: 250px;
    height: 140px;
}

.game-badge {
    background-color: #eafafb;
    padding: 3px 5px;
    font-size: 12px;
    margin: 15px auto;
    width: fit-content;
}

.preview-btn {
    display: inline-block;
}

.select-btn {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.widgets-bottom {
    padding: 30px 30px;
    padding-top: 0;
}

.widget-input {
    max-width: 500px;
}