.display-setting {
    margin-top: 40px;
}

.display-create-btn {
    margin-top: 20px;
    margin-left: 30px;
}

.dashboard-create-btn {
    max-width: 156px;
    display: inline-block;
}

.display-view-all {
    float: right;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
    margin-right: 33px;
    color: #006fbb;
}

.dashboard-section-header {
    margin-top: 30px;
    padding-left: 30px;
    border-bottom: 1px solid #c4cdd5;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 18px;
    line-height: 20px;
}

.display-widget-group {
    margin-top: 30px;
    margin-left: 30px;
    width: 100%;
    height: 350px;
}

.display-widget-group div {
    display: inline-block;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
}

.dashboard-widget {
    width: 331px;
    height: 348px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: #dddddd 0px 2px 2px 1px;
    padding: 20px;
    text-align: center;
}

.dashboard-widget .widget-img {
    width: 291px;
    height: 240px;
}

.dashboard-widget .widget-name {
    margin-top: 20px;
    height: 16px;
    text-align: left;
    width: 100%;
    position: relative;
}

.dashboard-widget .widget-name > div {
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    color: #212b36;
    display: inline-block;
}

.dashboard-widget .widget-name img {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.dashboard-widget .widget-status {
    margin-top: 10px;
    height: 20px;
    width: 100%;
}

.dashboard-widget .widget-status .active {
    float: left;
    padding: 3px 7px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 14px;
    background: #108043;
    color: white;
    display: inline-block;
}

.dashboard-widget .widget-status .hold {
    float: left;
    padding: 3px 7px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 14px;
    background: #eec200;
    color: white;
    display: inline-block;
}

.dashboard-widget .widget-status .modify-label {
    color: #637381;
    font-size:12px;
    line-height: 16px;
    vertical-align: middle;
    float: left;
    margin-left: 15px;
}

.dashboard-email-body .dashboard-email-items {
    margin-bottom: 20px;
    margin-left: 30px;
}

.dashboard-email-items .email-kind {
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
    width: 331px;
    height: 60px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px 30px;
    display: inline-block;
    vertical-align: middle;
}

.dashboard-email-body .email-kind img {
    width: 36px;
    display: inline-block;
}

.dashboard-email-body .email-kind img:first-child {
    height: 34px;
}

.dashboard-email-body .email-kind img:last-child {
    margin-top: 3px;
    height: 23px;
}

.dashboard-email-body .email-kind div {
    margin-left: 16px;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    color: #212b36;
}

.dashboard-email-body .email-export-description {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 12px;
    line-height: 16px;
    color: #637381;
    max-width: 366px; 
    display: inline-block;
    vertical-align: middle;
}

.email-export-btn {
    display: inline-block;
    vertical-align: bottom;
}

.dashboard-email-body .email-footer {
    margin-top: 30px;
    padding-left: 30px;
    padding-top: 22px;
    border-top: 1px solid #c4cdd5;
}

.dashboard-email-body .email-footer img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.dashboard-email-body .email-footer span {
    margin-left: 15px;
    font-size: 12px;
    line-height: 24px;
    color: #212b36;
}

.dashboard-widget:nth-child(3) {
    margin-right: 0;
}

.dashboard-sales {
    padding-left: 30px;
}

.dashboard-info {
    margin-top: 20px;
    width: 492px;
    height: 128px;
    border-radius: 3px;
    border: 1px solid #c4cdd5;
}

.dashboard-info-element {
    width: 163px;
    padding-top: 38px;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    border-right: 1px solid #DFE3E8;
}

.dashboard-info-element:last-child {
    border: none !important;
}

.info-values {
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;
    color: #212b36;
}

.info-description {
    color: #637381;
    font-size: 12px;
    line-height: 16px;
}

.date-select {
    margin-top: 20px;
}

.dashboard-graph {
    margin-top: 20px;
    width: 1030px;
    height: 420px;
}

.dashboard-daterange {
    position: relative;
    height: 36px;
    width: 218px;
    line-height: 36px;
    padding: 0 20px;
    border: 1px solid #c4cdd5;
    border-radius: 3px;
    font-size: 14px;
    text-align: left;
    background-color: white;
    box-shadow: inset 0 0 0 2px rgba(92, 106, 196, 0), inset 0 1px 2px 0 rgba(99, 115, 129, .2);
    transition-property: border-color,box-shadow;
    transition-duration: .24s;
    transition-timing-function: cubic-bezier(.64,0,.35,1);
}

.dashboard-daterange:focus, .dashboard-daterange:hover {
    border-color: transparent;
    box-shadow: inset 0 0 0.2px #5c6ac4, inset 0 1px 2px 0 rgba(99, 116, 129, .2);
}

.dashboard-daterange:after {
    content: '';
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    width: 20px;
    background: linear-gradient(270deg, white, 60%, hsla(0,0,100%,0));
    pointer-events: none;
}

.dashboard-widget .widget-img img {
    width: 100%;
    height: 100%;
}

.dashboard-widget .widget-name .widget-dropdown {
    width: 280px;
    padding: 5px 0;
    background: white;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 170px;
    box-shadow: 0px 2px 16px rgba(33, 43, 54, 0.08), 0px 0px 0px rgba(6, 44, 82, 0.1);
}

.dashboard-widget .widget-name .widget-dropdown > div {
    height: 40px;
    padding: 13px 22px;
    width: 100%;
    background: white;
    cursor: pointer;
}

.dashboard-widget .widget-name .widget-dropdown > div > img:nth-child(1) {
    width: 16px;
    height: 16px;
    float: left;
}

.dashboard-widget .widget-name .widget-dropdown > div > img:nth-child(2) {
    width: 8px;
    height: 14px;
    float: left;
}

.dashboard-widget .widget-name .widget-dropdown > div > img:nth-child(3) {
    width: 20px;
    height: 20px;
    float: left;
}

.dashboard-widget .widget-name .widget-dropdown > div > img:nth-child(4) {
    width: 20px;
    height: 20px;
    float: left;
}

.dashboard-widget .widget-name .widget-dropdown > div > span {
    color: #212B36;
    font-size: 14px;
    line-height: 16px;
    margin-left: 17px;
}

.error-duplicate {
    font-size: 14px;
}