.default-discount {
    margin-top: 20px;
}

.default-discount:last-child {
    margin-bottom: 15px;
}

.coupon-chance {
    margin-top: 20px;
}

.discount-input-field {
    max-width: 100px;
    display: inline-block;
}

.discount-type-group {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
}

.discount-add-link {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 40px !important;
    color: #006FBB;
    cursor: pointer;
}

.discount-custom {
    margin: 20px;
    margin-left: 40px;
}

.discount-custom > div {
    margin-top: 20px;
}

.discount-setting > div > div{
    padding-left: 20px;
    padding-right: 20px;
}

.discount-setting .header3 {
    margin-top: 30px;
}

.detail-display {
    margin-top: 20px;
}

.detail-when {
    margin-top: 20px;
    padding-bottom: 20px;
}

.discount-add .header3 {
    margin-top: 30px;
}

.discount-add > div > div {
    padding-left: 20px;
    padding-right: 20px;
}

.reminder-enable {
    margin-top: 5px;
}

.timer-type {
    margin-top: 20px;
}

.timer-position {
    margin-top: 20px;
    padding-bottom: 20px;
}

.discount-add .add-field {
    margin-top: 30px;
}

.coupon-chance > div > div {
    padding-left: 20px;
}

.coupon-chance .header3 {
    margin-top: 30px;
    margin-bottom: 20px;
    display: inline-block;
}

.chance-discount {
    display: inline-block;
    margin-top: 5px;
}

.view-chances {
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 20px;
    margin-top: 30px;
    color: #006FBB;
    cursor: pointer;
}

.chance-value {
    display: inline-block;
    float: right;
    max-width: 150px;
    margin-right: 20px;
}

.chances-group > div {
    margin-bottom: 20px;
}

.coupon-title {
    display: inline-block;
}

.coupon-delete {
    float: right;
    display: inline-block;
}

.device-filter {
    border-bottom: .1rem solid rgba(92, 106, 196, .2);
}

.device-filter > p {
    margin-bottom: 10px;
}

.device-filter > div {
    margin-bottom: 20px;
}

.device-filter > div:last-child {
    margin-bottom: 30px;
}

.widget-text {
    border-bottom: .1rem solid rgba(92, 106, 196, .2);
    padding-top: 30px;
}

.widget-text > div {
    margin-bottom: 30px;
}

.widget-text > p {
    margin-bottom: 5px;
}

.widget-result {
    padding-top: 30px;
    border-bottom: .1rem solid rgba(92, 106, 196, .2);
}

.widget-result > p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

.widget-result > div {
    margin-bottom: 20px;
}

.widget-other {
    padding-top: 20px;
    border-bottom: .1rem solid rgba(92, 106, 196, .2);
}

.widget-other > p {
    margin-bottom: 5px;
}

.widget-other > div {
    margin-bottom: 30px;
}

.widget-other > div > span {
    margin-right: 10px;
}

.widget-logo {
    padding-top: 30px;
}

.widget-logo > p {
    margn-bottom: 10px;
}

.widget-logo-upload {
    width: 114px;
    height: 114px;
    border: 2px solid #DFE3E8;
    border-radius: 2px;
    padding: 20px;
}

.widget-logo-upload a {
    font-size: 14px;
    margin-bottom: 15px;
}

.widget-logo-upload div {
    font-size: 12px;
    color:  #637381;
}