.style-content {
    margin-left: 20px;
}

.style-content > div > div {
    margin-left: 20px;
}

.style-content .header3 {
    padding-top: 30px;
}

.style-content .default-color {
    margin-top: 30px;
}

.color-selector {
    margin-left: 40px !important;
    margin-top: 20px;
    padding-bottom: 30px;
    width: 236px;
    height: 60px;
    position: relative;
    z-index: 999;
}

.color-select {
    display: block;
    width: 100%;
    height: 36px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 5px;
}

.color-name {
    margin-left: 10px;
    font-size: 14px;
    color: #637381;
    line-height: 20px;
    display: inline-block;
}

.color-pattern {
    width: 16px;
    height: 16px;
    float: right;
    margin-right: 5px;
    margin-top: 3px;
    display: inline-block;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.color-selector-dropdown {
    position: absolute;
    top: 36px;
    left: 0px;
    width: 100%;
    display: block;
}

.color-selector-dropdown > div {
    height: 36px;
    background: white;
    padding: 10px;
}

.color-selector-dropdown > div:hover, .color-selector-dropdown > div:focus {
    background: #B1B6D7;
}

.color-select-icon {
    display: inline-block;
    float: right;
}